In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
ind=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [7]:
dep=dataset[['charges']]

In [8]:
def train(ind,dep):
    from sklearn.model_selection import train_test_split
    X_train,X_test,y_train,y_test=train_test_split(ind,dep,test_size=0.30,random_state=0)
    return X_train,X_test,y_train,y_test

In [9]:
def r2(regressor,X_test,y_test):
    from sklearn.metrics import r2_score
    y_pred=regressor.predict(X_test)
    r2value=r2_score(y_test,y_pred)
    return r2value

In [10]:
def adaboosting(X_train,X_test,y_train):
    from sklearn.ensemble import AdaBoostRegressor
    regressor=AdaBoostRegressor(random_state=0, n_estimators=100)
    regressor.fit(X_train,y_train)
    rscore=r2(regressor,X_test,y_test)
    return rscore

In [11]:
def lgboosting(X_train,X_test,y_train):
    from sklearn.ensemble import GradientBoostingRegressor
    regressor=GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, min_samples_split=2, min_samples_leaf=1)
    regressor.fit(X_train,y_train)
    rscore=r2(regressor,X_test,y_test)
    return rscore

In [12]:
def xgboosting(X_train,X_test,y_train):
    import xgboost as xgb
    regressor=xgb.XGBRegressor()
    regressor.fit(X_train,y_train)
    rscore=r2(regressor,X_test,y_test)
    return rscore

In [13]:
X_train,X_test,y_train,y_test=train(ind,dep)

In [14]:
adaboosting=adaboosting(X_train,X_test,y_train)

C:\Users\Priya\anaconda3\envs\ml\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
adaboosting

0.8447476929154872

In [17]:
lgboosting=lgboosting(X_train,X_test,y_train)

C:\Users\Priya\anaconda3\envs\ml\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
lgboosting

0.883875208575448

In [19]:
xgboosting=xgboosting(X_train,X_test,y_train)

In [20]:
xgboosting

0.8257765248999531